//Theme's color palette
$primaryGray: #272935;
$secondaryGray: #464852;
$buttonGreen: #0abb87;
$chatGreen: #3db16b;
$textLight: #adc4ca;
$textDark: #adc4ca30;

$black: #000000;
$white: #fff;
$lightGrey: #706464;
$backGrey: #7064644d;
$mainRed: #8c232c;
