@import "../../utils/variables";

.Carousel {
  overflow: hidden;
  padding: 1rem;
  border-bottom: 1px dashed $lightGrey;
}

.Inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.Indicators {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.Indicators > button {
  margin: 5px;
}

.Indicators > button.active {
  color: white;
  background-color: $black;
  border: 3px solid $mainRed;
}

.CarButton {
  background-color: $black;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.CategoryTitle {
  text-align: initial;
}

@media (max-width: 576px) {
  .Indicators > button {
    margin: 3px;
  }
}
