.Header {
  position: relative;
  min-height: 10vh;
  padding: 1rem;
  background-color: black;
  color: white;
  border-bottom: 4px solid #8c232c;
  z-index: 500;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.HeaderTitle {
  width: 100%;
}
