@import "../../utils/variables";

.Header {
  position: relative;
  height: 5vh;
  padding: 1rem;
  background-color: $black;
  color: $white;
  border-bottom: 4px solid $mainRed;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.HeaderTitle {
  width: 100%;
  margin: 0;
}
